@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #16181e;
  color: #f9f9f9;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
}

h6 {
  text-transform: capitalize;
}

.App {
  display: grid;
  grid-template-columns: 220px auto 350px;
}

.flex-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.just-flex {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  cursor: pointer;
}

button {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.add-btn {
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #fff;
  font-size: 30px;
  padding: 0;
}

.watch-btn {
  width: 60%;
  background-color: #00b9ae;
  color: #000;
  font-weight: 600;
}

.watch-btn:hover {
  background-color: transparent;
  border: #00b9ae solid 1px;
  color: #fff;
}

.rec-dot {
  box-shadow: 0 0 1px 3px #038e85 !important;
}

.rec-dot_active {
  background-color: #00b9ae !important;
  box-shadow: 0 0 1px 3px #038e85 !important;
}
.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px #038e85 !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: #038e85 !important;
  box-shadow: 0 0 1px 3px #038e85 !important;
}

.rec-arrow {
  background-color: var(--blue) !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: #00b9ae !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  min-width: 1.7rem !important;
  line-height: 1.7rem !important;
}

.rec-arrow:hover:not(:disabled) {
  transform: scale(1.2);
}

/* Spinner */

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/** Spinner End ***/

@media (max-width: 1575px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .leftbar {
    height: 100px;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .leftbar.active {
    height: 850px;
    transition: 0.5s ease;
  }
}
